.size
{
  display:inline-block;
margin:auto;
  height:400px;
  width:300px;
}

.hero-image-booked {
  height: 330px;
  width:500px;
  background-position: center;
  position: relative;
}
.hero-image-empty {
 
  height: 330px;
  width:500px;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
}